<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA3TCjmcd03y0h6dQmqbLS4R7yPRMhxOEY</string>
	<key>GCM_SENDER_ID</key>
	<string>812359554590</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fbNote.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>note-e9486</string>
	<key>STORAGE_BUCKET</key>
	<string>note-e9486.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:812359554590:ios:8807638d5d09adfab8400f</string>
</dict>
</plist>